body {
  margin: 0;
  padding: 0; }

.bg-hero {
  background: url("https://www.volocopter.com/assets/images/stage/home_large.jpg") no-repeat;
  background-size: cover;
  height: 80vh; }
  .bg-hero h1 {
    color: #fff;
    font-size: 78px !important;
    font-weight: 800; }
  .bg-hero h3 {
    color: #fff; }
  .bg-hero .bg-hero-boxtext {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-25%, 11%); }

nav {
  height: auto; }
  nav a {
    font-size: 18px;
    padding: 25px;
    color: #fff !important;
    text-transform: capitalize;
    margin-right: 15px; }

@media screen and (min-width: 760px) {
  .bg-hero-boxtext {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); } }
