body {
    margin: 0;
    padding: 0;
}
$bg-reddark: #691616 !important;
$text-white: #fff;

.bg-hero {
    background: url('https://www.volocopter.com/assets/images/stage/home_large.jpg') no-repeat;
    background-size: cover;
    height: 80vh;

     h1 {
        color: $text-white;
        font-size: 78px !important;
        font-weight: 800;
    }
     h3 {
         color: $text-white;
     }
     .bg-hero-boxtext {
         text-align: center;
         position: relative;
         top: 50%;
         left: 50%;
         transform: translate(-25%, 11%);
     }

     
}

nav {

    height: auto;
     

    a {
        font-size: 18px;
        padding: 25px;
        color: $text-white !important;
        text-transform: capitalize;
        margin-right: 15px;

    }

   
}

@media screen and (min-width: 760px) {
    .bg-hero-boxtext {
        text-align: center;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}